.black {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    background-color: black;
    border: 1px solid #000;
    box-shadow: 0 0 0 0.5px #d1c6c6;
    filter: 0 0 0 0.5px #d1c6c6;
    margin: 0;
}

.white {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 0 0 0 0.5px #d1c6c6;
    filter: 0 0 0 0.5px #d1c6c6;
    margin: 0;
}

.row {
    position: relative;
    margin-bottom: -30px;
}

.sign {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    border: 1px solid white;
    margin-bottom: -4px;
    text-align: center;
}

.basket {
    display: flex;
    min-height: 45px;
    margin-bottom: 10px;
    font-size: large;
    margin-left: 30px;
}